* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  color: #333;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}
header,
footer {
  background-color: #333;
  color: #ccc;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
    }

hr {
  border: 2px solid #666;
  width: 100%;
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  width: 100%;
  padding: 1rem;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav ul li {
  margin-right: 5rem;
    font-size: 1.5;
}
.nav ul li a {
  text-decoration: none;
  color: #ccc;
}
.nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
}

#header-img {
  width: 100%;
  height: auto;
}

.footer {
  text-align: center;
}
.main-nav h2 {
text-align: center;
}
.main-nav nav {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 1rem;
}


.main-nav nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
}
.main-nav nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
  font-size: 2rem;
  transition: ease-in-out 0.3s;
}

.form fieldset legend {
  font-size: 2rem;
}

.form fieldset div label {
  font-size: 1.5rem;
}
.form fieldset div input[type="text"],
.form fieldset div input[type="email"],
.form fieldset div textarea {
  width: 100%;
  font-size: 1.5rem;
}
.form fieldset div input[type="submit"] {
  margin: 0 auto;
  font-size: 1.5rem;
  border: 1px solid #333;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
  color: #ccc;
  transition: ease-in-out 0.3s;
}

.form-spacing, #text-area label {
    margin-bottom: 1rem;
}

label[for="comments"] {
    display: inline-block;
    margin-bottom: .25rem;
}

h2.gallery-heading {
  text-align: center;
  font-size: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    text-align: center;
}

.gallery-item {
    text-align: center;
}

/* Optional: Style the labels for better visibility */
.gallery-item label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.gallery img {
  width: 30%;
  height: auto;
}

.gallery label {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
